.shoppingCart__main-container{
  position: relative;
}

.shoppingCart__table-container{
  display: block;
  position: absolute;
  top: 20px;
  width: 100%;
}

.shoppingCart__table{
  margin: 0px auto;
}