*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  &::-webkit-scrollbar{
    background: white;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb{
    background: $primary;
    border-radius: 7px;
  }
}