.btn{
  border: 2px solid transparent;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 100;
}

.btn-shoppingCart{
  color: white;
  background: $primary;
  margin: 10px 10px;
  margin-bottom: 0;
  &:hover{
    color: darken($color: $primary, $amount: 15);
  }
}

.btn-noti{
  animation: vibes .5s 2;
}

.btn-primary{
  background: $primary;
  color: lighten($color: $primary, $amount: 40);
  &:hover{
    background: darken($color: $primary, $amount: 15);
  }
}

@keyframes vibes{
  from{
    color: darken($color: $primary, $amount: 20)
  }
  to {
    color: lighten($color: $primary, $amount: 40);
  }
}